* {
    box-sizing: border-box;
    /*ajuda na defição do tamanho dos elementos na tela*/
}

html {
    scroll-behavior: smooth
        /*rolagem lenta*/
}

body {
    margin: 0;
    /*zera a margem*/
    font-family: 'Momo Trust Sans', system-ui, Arial, sans-serif;
    /*fontes*/
    color: #c8dbff;
    /*cor do texto*/
    background-color: #21488f;
    /*cor do fundo*/
    line-height: 1.6;
    /*distancia de uma linha para outra*/
}

h1 {
    text-shadow: 2px 2px 4px #000000;
}

/*=================
    cabeçalho
=================*/

.topbar {
    position: sticky;
    /*fixa um elemento na tela*/
    top: 0;
    /*define a posição onde o position vai pixar*/
    z-index: 10;
    /*fala que o elemneto vai ficar uma camada a cima do outro*/
    background-color: #f5d800b0;
    border-bottom: 4px solid #801f1f;
    /*define a largura, o estado e a cor da borda do borão*/
}

.container {
    width: min(2000px, 92%);
    /*quando o elemento atingir um numero menor que 2000px, ele vai ocupar 92% da tela*/
    margin: 0 auto;
    /*define a margem*/
}

.row {
    display: flex;
    align-items: center;
    /*alinha os intem no centro*/
    justify-content: space-evenly;
    /*da espaço entre os elementos*/
}

.logo {
    font-weight: 800;
    text-decoration: none;
    color: #222;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

nav a {
    text-decoration: none;
    color: #222;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
}

nav a:hover {
    background-color: #801f1f;
}

/*=================
sobre e carreira
=================*/

.hero p {
    color: #222;
    margin-bottom: 10rem;
}

.hero h1 {
    margin-bottom: 0.4rem;
    font-size: 2.2rem;
}

.hero-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.hero-text {
    max-width: 45%;
    text-align: justify;
    /*justifica o texto*/
}

.hero-img {
    flex: 1 1 45%;
    max-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease;
    border: 1px solid #000000;
}

.hero-img img:hover {
    transform: scale(1.03);
}

/*=================
    conquitas
=================*/

section {
    padding: 2rem 0;
    scroll-margin-top: 4rem;
}

section h2 {
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
    text-align: center;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.item {
    flex-basis: 340px;
    flex-grow: 1;
    background-color: #10367e;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 13px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.459);
    transition: transform 0.3s;
}

.item:hover {
    transform: translateY(-5px);
}

.thumb {
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.thumb img:hover {
    transform: scale(1.08);
}

.item h3 h2 {
    margin-top: 0;
    font-size: 18px;
}

.ponto-1 {
    margin-top: 15.5rem;
}

.ponto-2 {
    margin-top: 7.5rem;
}

.ponto-3 {
    margin-top: 17.5rem;
}

/*=================
    Recordes
=================*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* A linha vertical */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #3d73d6;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container ao redor do conteúdo */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* Os círculos na linha do tempo */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #f5d800;
    border: 4px solid #c9a400;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Deixar o conteiner na esquerda*/
.left {
    left: 0;
}

/* Deixar o conteiner na direita */
.right {
    left: 50%;
}

/* colocar setas no contêiner da esquerda*/
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #3d73d6;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #3d73d6;
}

/* colocar setas no contêiner da direita*/
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #3d73d6;
    border-width: 10px 10px 10px 0;
    border-color: transparent #3d73d6 transparent transparent;
}

/* fixar o circulo */
.right::after {
    left: -16px;
}

/* O conteudo real */
.content {
    padding: 20px 30px;
    background-color: #10367e;
    position: relative;
    border-radius: 6px;
    border: 1px solid #000;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.459);
    transition: transform 0.3s;
}

.content:hover {
    transform: translateY(-5px);/*faz tudo que está dentro do content mexer -5px pro eixo y*/
}

.recor-text {
    text-align: center;
}

/*=================
    contato
=================*/

.contact-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
}

.contact-grid>div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 320px;
    min-width: 260px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}

input,
textarea {
    font: inherit;
    padding: 13px 14px 13px 14px;
    border: 1.5px solid #801f1f;
    border-radius: 10px;
    background-color: #c5c7ca;
    outline: none;
}

input:focus,
textarea:focus {
    border: 2px solid #801f1f;
}

.btn {
    display: inline-block;
    background-color: #801f1f;
    padding: 13px 16px 13px 16px;
    border-radius: 10px;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(1.15);
}

/*=================
    rodapé
=================*/

footer {
    border-top: 4px solid #801f1f;
    background-color: #f5d800b0;
    color: black;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #801f1f;
    font-weight: 600;
}

/*=================
   responsividade
=================*/

@media (max-width: 870px) {
    section {
        padding-top: 56px;
        padding-bottom: 56px;
    }

    nav a {
        padding: 10px 11px 10px 11px;
    }

    .hero-text {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}