*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth
}

 body{
    margin: 0;
    font-family: 'momo trust display', system-ui, Arial, sans-serif;
    color: #000000;
    background-color: #234a91;
    line-height: 1.6;
 }

.topbar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #cfcf7c;
    border-bottom: 4px solid #801f1f;
}

.container{
    width: min(1100px, 92%); 
    margin: 0 auto;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{ 
    font-weight: 800;
    text-decoration: none;
    color: #222;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

nav a{
    text-decoration: none;
    color: #222;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
}

nav a:hover {
    background-color: #801f1f;
}